html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
.aboutContainer {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  width: 95%;
  margin-left: 2.5%;
  margin-top: 10px;
}
.home-desc {
  width: 600px;
  padding: 10px;
  margin-top: 10px;
  background-color: white;
  flex: 50%;
}
.home-skills {
  width: 600px;
  height: 500px;
  font-family: "arial";
  color: #222;
  padding: 10px;
  flex: 50%;
  margin-top: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.section-header {
  font-family: "arial";
  font-size: 22px;
  text-align: center;
  color: #222;
}

.home-desc p {
  font-size: 18px;
  color: #222;
  text-align: left;
  padding: 2px;
}
.home-desc span {
  color: #999;
  font-weight: bold;
}
.resume-link {
  text-decoration: none;
  color: #f44336;
  font-weight: bold;
}
.resume-link:hover {
  color: #971b13;
}
.home-skills {
  box-sizing: border-box;
}
.skills-container {
  width: 90%;
  border: 1px solid #111;
  background: whitesmoke;
  margin-left: 20px;
}
.home-skills p {
  text-align: left;
  margin: 0px;
  margin-left: 20px;
  font-size: 18px;
}
.skills {
  height: 20px;
}
.Java {
  width: 80%;
  background-color: #f44336;
}
.HTML-CSS {
  width: 80%;
  background-color: #f44336;
}
.JavaScript {
  width: 70%;
  background-color: #f44336;
}
.Python {
  width: 70%;
  background-color: #f44336;
}
.C {
  width: 50%;
  background-color: #f44336;
}
.React {
  width: 65%;
  background-color: #f44336;
}
.skillbar-main {
  margin-top: 15px;
}

@media (max-width: 800px) {
  .home-desc,
  .home-skills {
    flex: 100%;
  }
}
