/*.aboutContainer {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin-left: 2.5%;
  margin-top: 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.home-desc {
  width: 600px;
  padding: 10px;
  margin-top: 10px;
  flex: 50%;
}
.home-skills {
  width: 600px;
  height: 500px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #222;
  padding: 10px;
  flex: 50%;
  margin-top: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}


.section-header {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 2.5rem;
  text-align: center;
  color: #423e47;
}

.home-desc p {
  font-size: 18px;
  color: #444;
  text-align: left;
  padding: 2px;
}
.home-desc span {
  color: #999;
  font-weight: bold;
}
.resume-link:hover {
  color: #971b13;
}
.home-skills {
  box-sizing: border-box;
}
.skills-container {
  width: 90%;
  border: 1px solid #111;
  background: whitesmoke;
  margin-left: 20px;
}
.home-skills p {
  text-align: left;
  margin: 0px;
  margin-left: 20px;
  font-size: 18px;
  color: #444;
}
.skills {
  height: 20px;
}
.Java {
  width: 80%;
  background-color: #f44336;
}
.HTML-CSS {
  width: 80%;
  background-color: #f44336;
}
.JavaScript {
  width: 70%;
  background-color: #f44336;
}
.Python {
  width: 70%;
  background-color: #f44336;
}
.C {
  width: 50%;
  background-color: #f44336;
}
.React {
  width: 65%;
  background-color: #f44336;
}
.skillbar-main {
  margin-top: 15px;
}*/
.skills-container {
  margin-top: 30px;
  width: 50%;
  margin: auto;
}
.skills-container hr {
  margin-top: 50px;
}
.section-header {
  text-align: center;
  color: #423e47;
  font-size: 2.5rem;
  margin-top: 90px;
}
.frontEnd-skills,
.backEnd-skills {
  width: 100%;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
.frontEnd-skills-list,
.backEnd-skills-list {
  width: 50%;
}

.frontEnd-skills-list h1, .backEnd-skills-list h1 {
  font-size: 26px;
  color: #423e47;
  font-style: oblique;
  text-align: center;
}

.frontEnd-skills-list ul,
.backEnd-skills-list ul {
  list-style-type: square;
  font-size: 22px;
  color: #212529;
  line-height: 28px;
}

.frontEnd-skills-img {
  background-image: url("../img/FrontEndSkillsCircle.png");
  background-position: center center;
  width: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.backEnd-skills-img {
  background-image: url("../img/BackEndSkillsCircle.png");
  width: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.frontEndList-Container, .backEndList-Container {
  width: 65%;
  margin: auto;
}

.other-skills {
  width: 100%;
  margin: auto;
  margin-top: 50px;
  background-color: #423e47;
  height: auto;
  border-radius: 20px;
}
.other-skills ul {
  list-style-type: none;
  margin-left: 10%;
  font-size: 0;
}
.other-skills ul li {
  display: inline-block;
  color: #f7f7f7;
  font-size: 20px;
  padding: 10px;
}

.education-description {
  width: 80%;
  height: auto;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}
.education-description h1 {
  text-align: center;
  font-size: 26px;
  color: #423e47;
  font-style: oblique;
}
.education-description p {
  text-align: center;
  font-size: 18px;
  color: #222;
}

.education-description ul {
  list-style-type: circle;
  color: #111;
  line-height: 25px;
  width: 50%;
  margin: auto;
  height: auto;
  font-size: 17px;
}

@media (max-width: 800px) {
  .skills-container .frontEnd-skills,
  .backEnd-skills {
    flex: 100%;
    flex-direction: column;
  }
  .frontEnd-skills-list,
  .backEnd-skills-list {
    width: 100%;
  }
  .education-description ul {
    width: 100%;
  }
}
