.contact-links-container ul {
    list-style-type: none;
    margin-top: 1.5%;
    text-align: center;
    margin-right: 30px;
  }
  .contact-links-container ul li {
    padding: 15px;
    display: inline-block;
  }
  .contact-links-container .icon {
    color: #fff;
  }
  .contact-links-container .resume-title {
    color: #af6c57;
  }
  .contact-links-container .resume {
    stroke: #af6c57;
    stroke-width: 15;
  }
  .contact-links-container .icon:hover {
    stroke: #af6c57;
    stroke-width: 15;
    cursor: pointer;
  }
  .ea-footer {
    font-size: 18px;
    padding-top: 10px;
    color: #999;
  }
  .react-icon-footer {
    color: cyan;
    margin-left: 8px;
  }