.footer-container {
  background-color: #111;
  color: whitesmoke;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 50px;
  text-align: center;
  height: 400px;
}
.footer-container #container-title {
  color: #f44336;
  padding-top: 30px;
  font-size: 36px;
}
.footer-container ul {
  list-style-type: none;
  margin-top: 2%;
  text-align: center;
  margin-right: 30px;
}
.footer-container ul li {
  padding: 15px;
  display: inline-block;
}
.icon {
  color: #999;
}
.icon:hover {
  stroke: #f44336;
  stroke-width: 15;
  cursor: pointer;
}
.ea-footer {
  font-size: 22px;
  padding-top: 20px;
  color: #999;
}
