.heading-hr {
    height: 5px;
    max-width: 50px;
    background-color: #423E47;
    display: block;
    border: 2px solid #423E47;
  }
  html {
    scroll-behavior: smooth;
  }
  * {
    box-sizing: border-box;
  }
