.homeContainer {
  height: 750px;
  background-color: #202020;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}
.myName {
  text-align: center;
  color: whitesmoke;
  font-family: "arial";
  font-size: 28px;
}
.myName p {
  font-size: 20px;
}
.about-me-home {
  margin-top: 150px;
}
.about-me-home p {
  color: rgb(224, 222, 222);
  width: 600px;
  border: 1px solid white;
  margin: auto;
  font-size: 20px;
  padding: 5px;
  text-align: center;
  line-height: 25px;
}
.about-me-home span {
  color: #999;
  font-size: 22px;
}