body {
  padding: 0px;
  margin: 0px;
  font-size: 1rem;
  font-family: "Titillium Web",sans-serif;
}
.homeContainer {
  background-color: #423E47;
  justify-content: center;
  width: 100%;
  min-height: 80vh;
  display: flex;
}
.myName {
  text-align: center;
  color: #f1f4f8;
  font-family: inherit;
  font-size: 30px;
  letter-spacing: 5px;
}

.about-description {
  max-width: 600px;
  height: 350px;
  position: relative;
}
.about-description h1 {
  color: #d1d7e0;
  text-align: center;
  font-family: inherit;
  font-size: 24px;
  line-height: 45px;
  position: relative;
}
.about-description span {
  font-weight: bold;
  font-size: 26px;
  color: #fff;
}
.homeContainer-content hr:first-child {
  margin-top: 50px;
  height: 3px;
  background-color: #F39E4D;
  border: 2px solid #F39E4D;
  border-radius: 5px;
  width: 65%;
}
.homeContainer-content hr {
  width: 20%;
  height: 3px;
  background-color: #F39E4D;
  border: 2px solid #F39E4D;
  border-radius: 5px;
}
.contacts-home ul {
  list-style-type: none;
  margin-top: 2%;
  text-align: center;
  margin-right: 30px;
}
.contacts-home ul li {
  padding: 10px;
  display: inline-block;
}
.contacts-home .icon {
  color: #fff;
  font-size: 22px;
}
.contacts-home .icon:hover {
  stroke: #F39E4D;
  stroke-width: 15;
}