body {
  padding: 0px;
  margin: 0px;
}
.homeContainer {
  height: 94vh;
  background-color: #222;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  overflow: auto;
}
.myName {
  text-align: center;
  color: whitesmoke;
  font-family: "arial";
  font-size: 18px;
  margin-top: 40px;
}
.myName span {
  font-size: 1.6em;
  font-family: "arial";
  color: whitesmoke;
  font-weight: bold;
}
.profile-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-image: url("../img/profile.jpg");
  background-position: center center;
  background-size: cover;
  top: 25%;
  margin-left: 100px;
  border: 1px solid #111;
}
.about-description {
  width: 400px;
  color: white;
  margin-top: 30px;
  text-align: center;
  font-size: 22px;
  height: 200px;
}
.about-description span {
  color: rgb(163, 158, 158);
  font-style: italic;
}
