body {
  background-color: #d1d7e0;
  font-family: "Titillium Web", sans-serif;
}
.main #headerTitle {
  color: #423e47;
  font-size: 2.5rem;
}
.experience-main-container {
  margin-top: 30px;
}

.experience-subContainer {
  display: flex;
}

.experienceContainer {
  padding: 10px;
  width: 50%;
}
.experienceContainer img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  margin-left: 50px;
}
.experienceContainer .company {
  margin-left: 120px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #423e47;
  font-size: 26px;
}
.experienceContainer .jobTitle {
  margin-left: 120px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
  color: #222;
}
.experienceContainer ul {
  margin-left: 120px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  padding: 2px;
  list-style-type: circle;
  color: #555;
}
#headerTitle {
  margin-top: 50px;
  text-align: center;
}

.experienceContainer ul li {
  padding: 3px;
}

@media (max-width: 800px) {
  .experience-subContainer {
    flex-direction: column;
    flex: 100%;
  }
  .experienceContainer {
    width: 100%;
  }
}
