body {
  background-color: #d1d7e0;
  font-family: "Titillium Web",sans-serif;
}
.main #headerTitle {
  color: #423E47;
  font-size: 2.5rem;
}
.experienceContainer {
  padding: 20px;
  margin-left: 20px;
}
.experienceContainer img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  margin-left: 20px;
  border: 4px solid #f44336;
  margin-top: 10px;
}
.experienceContainer h1 {
  margin-left: 120px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #222;
  font-size: 22px;
}
.experienceContainer h3 {
  margin-left: 120px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
  color: #444;
  font-style: italic;
}
.experienceContainer ul {
  margin-left: 120px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  padding: 2px;
  list-style-type: circle;
}
#headerTitle {
  margin-top: 50px;
  text-align: center;
}

.experienceContainer ul li {
  padding: 3px;
}

