.navbar {
  position: sticky;
  top: 0;
  z-index: 9999;
}
.navbar-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #af6c57;
}

.navbar-container ul li {
  float: left;
  font-family: "Titillium Web", sans-serif;
  font-size: 18px;
}

.navbar-container a {
  display: block;
  color: #f4f8f7;
  text-align: center;
  padding: 14px 12px;
  text-decoration: none;
}

.navbar-container li a:hover {
  background-color: #f4f8f7;
  color: #af6c57;
}
