.navbar {
  position: sticky;
  top: 0;
  z-index: 9999;
}
.navbar-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F39E4D;
}

.navbar-container ul li {
  float: left;
  font-family: "Titillium Web",sans-serif;
  font-size: 18px;
}

.navbar-container a {
  display: block;
  color: #F4F8F7;
  text-align: center;
  padding: 14px 12px;
  text-decoration: none;
}

.navbar-container li a:hover {
  background-color: #fff;
  color: #F39E4D;
}