body {
  margin: 0px;
  padding: 0px;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 9999;
  width: 100%;
}

.navbar-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
}

.navbar-container ul li {
  float: left;
  font-family: 'arial';
  font-size: 18px;
  padding: 14px 14px;
}

.navbar-container a {
  display: block;
  color: whitesmoke;
  text-align: center;
  
  text-decoration: none;
}


.navbar-container li:hover {
  background-color: #333;
  cursor: pointer;
}